.detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  .amountDetail,
  .priceDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
