@import '../../../styles/custom.scss';
.container {
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  .backButton {
    width: fit-content;
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
  }
  hr {
    width: 100%;
    margin: 20px 0;
  }
}
