.contentLayout {
    .productsContainer{
        width: 100%;
        .scannerModal{
            :global(.ant-modal-content) {
                width: 550px;
            }
            :global(video) {
                width: 100%;
                height: 100%;
            }
        }
    }
}