.container {
  padding: 20px 20px 50px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  h6 {
    margin-bottom: 1rem;
  }
  .table {
    align-self: center;
  }
  hr {
    width: 100%;
    margin: 20px 0;
  }
}
