@import '../../../styles/custom.scss';

.cartItem {
  display: flex;
  gap: 15px;
  padding: 5px 0;
  .menuDetail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .nameAndPrice {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .buttons {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #556cd6;
      .btn{
        cursor: pointer;
        :hover {
          color: #243386;
        }
      }
    }
  }
}