@import '../../../styles/custom.scss';
.dynamicContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .firstBlock {
    width: 100%;
  }
  .secondBlock {
    .secondInnerBlock {
      height: 100%;
      // background-color: rebeccapurple;
      display: none;
    }
    .active {
      display: block;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      background-color: white;
      overflow: scroll;
      z-index: 99;
    }
  }
  .cartButton {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
    box-shadow: 0 1px 10px #000;
    z-index: 99;
  }
}

@include tablet {
  .dynamicContainer {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    .firstBlock {
      flex-basis: 66.66%;
    }
    .secondBlock {
      flex-basis: 33.33%;
      .secondInnerBlock {
        background-color: white;
        top: 64px;
        right: 0;
        left: unset;
        display: block;
      }
    }
  }
}
