@import '../../../styles/custom.scss';
.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  .imageContainer {
    width: 100%;
  }
  .contentContainer {
    width: 100%;
  }
}

@include tablet {
  .cardContainer {
    flex-direction: row;
    .imageContainer {
      width: 30%;
    }
    .contentContainer {
    }
  }
}
