@import '../../../styles/custom.scss';
.container {
  padding: 20px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .backButton {
    width: fit-content;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .login {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  hr {
    width: 100%;
  }
  ul {
    list-style-position: inside;
    padding: 0;
  }
}
