.toolbar {
  display: flex;
  justify-content: space-between;

  .buttonsContainer {
    display: flex;
    gap: 10px;
  }

  .logoWrapper {
    max-width: 75px;
    max-height: 75px;
    padding: 10px;

    img {
      width: 100%;
    }
  }
}