.orderedMenu {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: auto;
    .left {
    flex-basis: 20%;
    }
    .center {
    flex-basis: 60%;
    }
    .right {
    flex-basis: 20%;
    }
}